<PageTitle>Not Authorized</PageTitle>

<div class="page__not__found">
    <div class="page__not__found-text">
        <h1 class="page__not__found-subTitle">Ooops...</h1>
        <label class="page__not__found-title">Access Denied</label>
        <label class="page__not__found-desc">
            You don’t have permission to view this page.
        </label>
        <label class="page__not__found-desc">
            This section is restricted. Please contact your admin if you need access.
        </label>
        <a href="/dashboard" class="page__not__found-backBtn"><i class="bi bi-arrow-left"></i> Back</a>
    </div>
    <div class="page__not__found__image">
        <img src="/images/pageNotFound/notAuthorized.png" />
    </div>
</div>