@inherits LayoutComponentBase
@inject IUIStateService UIStateService

<FluentLayout>
    <Navbar />
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <Sidebar />
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
        <FluentToastProvider MaxToastCount="10" />
    </FluentStack>
</FluentLayout>

@code {
    protected override async Task OnInitializedAsync()
    {
        await UIStateService.LoadPreferencesAsync();
    }
}