@inherits LayoutComponentBase
@inject IUIStateService UIStateService

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMenuProvider />
<FluentLayout>
    <FluentHeader Style="background-color: #094171;">
        <Navbar />
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                <FluentMessageBarProvider Section="@TokenCons.Message_MainPage" ClearAfterNavigation=true Style="margin: 0 3rem;" />
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="" target="_blank">Sonic Sales & Distribution, Inc. @@2024</a>
        <FluentSpacer />
        <a href="http://192.168.1.19:81/" target="_blank">About Sonic</a>
    </FluentFooter>
</FluentLayout>


@code {
    protected override async Task OnInitializedAsync()
    {
        await UIStateService.LoadPreferencesAsync();
    }
}