<div class="page__not__found">
    <div class="page__not__found-text">
        <h1 class="page__not__found-subTitle">Ooops...</h1>
        <label class="page__not__found-title">Page Not Found</label>
        <label class="page__not__found-desc">Looks like the page you're looking for doesn't exist.</label>
        <label class="page__not__found-desc">Please check the URL or return to the homepage to continue browsing.</label>
        <a href="/dashboard" class="page__not__found-backBtn"><i class="bi bi-arrow-left"></i> Back</a>
    </div>
    <div class="page__not__found__image">
        <img src="/images/pageNotFound/pageNotFound.png" />
    </div>
</div>

@code {

}
