@using ChartJs.Blazor
@using ChartJs.Blazor.BarChart
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.Common.Axes.Ticks
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Util
@using SSDI.RequestMonitoring.UI.Contracts.Requests.JobOrder
@using SSDI.RequestMonitoring.UI.Contracts.Requests.Purchase
 
<div class="status-distribution-chart">
    <div class="chart-header">
        <h3>@ChartTitle</h3>
    </div>

    <div class="chart-container">
        @if (ChartData?.Any() == true)
        {
            <Chart Config="chartConfig" @ref="chartRef" />
        }
        else
        {
            <div class="empty-state">
                <i class="bi bi-graph-up"></i>
                <p>No status data available</p>
            </div>
        }
    </div>
</div>
