@page "/unauthorized-api"
<PageTitle>Session Expired</PageTitle>

<div class="page__not__found">
    <div class="page__not__found-text">
        <h1 class="page__not__found-subTitle">Ooops...</h1>
        <label class="page__not__found-title">Access Denied</label>
        <label class="page__not__found-desc">
            Looks like your session has expired or you tried to open a restricted page.
        </label>
        <label class="page__not__found-desc">
            Please log in again to continue.
        </label>
        <a href="/" class="page__not__found-backBtn"><i class="bi bi-arrow-left"></i> Return to Login</a>
    </div>
    <div class="page__not__found__image">
        <img src="/images/pageNotFound/api-unauthorize.png" />
    </div>
</div>