<div class="details__row-content @(FullRow ? "details__row-full" : "")">
    <div class="details__row-label">@((MarkupString)Label)</div>
    <div class="details__row-value">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @Value
        }
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = string.Empty;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool FullRow { get; set; }
}