<div class="page__card" @onclick="HandleClick">
    <div class="page__card-header">
        <div class="page__card-icon">
            <i class="@Icon"></i>
        </div>
        <h4 class="page__card-count">@Count</h4>
    </div>

    <div class="page__card-footer">
        <label>@Label</label>
        <div class="page__card-progress">
            <div class="page__card-progress-bar" style="width: @ProgressPercent%;"></div>
        </div>
    </div>
</div>

@code {

    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public int Count { get; set; }
    [Parameter] public int TotalCount { get; set; }
    [Parameter] public string Icon { get; set; } = "bi bi-circle"; 
    [Parameter] public EventCallback OnClick { get; set; }


    private double ProgressPercent => TotalCount == 0 ? 0 : (double)Count / TotalCount * 100;


    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }
}
