<nav class="breadcrumb-nav @(IsNoPadding ? "nopadding" : "") ">
    <ol class="breadcrumb-list">
        @ChildContent
    </ol>
</nav>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool IsNoPadding { get; set; } = false;
}