@using SSDI.RequestMonitoring.UI.Contracts.Requests
@using SSDI.RequestMonitoring.UI.JComponents.Alerts
@using SSDI.RequestMonitoring.UI.JComponents.Forms
@using SSDI.RequestMonitoring.UI.JComponents.Loading
@using SSDI.RequestMonitoring.UI.Models.Requests
@inject IPurchaseRequestSvc purchaseRequestSvc

<div class="modal__overlay" id="@(IsModalVisible ? "show__new__edit-purchase-request-modal" : "hide__new__edit-purchase-request-modal")">
    <div class="modal">
        <div class="modal__header">
            <h5 class="modal__header-title">UPDATE REQUEST</h5>
            <div class="modal__header-date">
                <i class="bi bi-clock-history"></i>
                <span title="@RequestModel?.DateModified?.ToString("MMMM dd, yyyy 'at' h:mm tt")">
                    @GetLastModifiedDisplay(RequestModel?.DateModified)
                </span>
            </div>
        </div>

        <div class="modal__alert">
            <Alert Message="@AlertMessage" Type="error" ShowCloseButton="false" @bind-IsVisible="IsShowAlert" />
        </div>

        <New_Purchase__Form Model="RequestModel" OnValidSubmit="HandleSave" OnCloseModal="CloseModal" IsDisabledBtns="_isDisabledBtns" />
    </div>
</div>