@using SSDI.RequestMonitoring.UI.Contracts.Requests
@using SSDI.RequestMonitoring.UI.JComponents.Forms
@using SSDI.RequestMonitoring.UI.JComponents.Modals


@inject IPurchaseRequestSvc purchaseRequestSvc

<Confirmation__Modal @ref="confirmModal" />
<div class="modal__overlay" id="@(IsModalVisible ? "show__new__purchase-request-modal" : "hide__new__purchase-request-modal")">
    <div class="modal">
        <div class="modal__header">
            <h5 class="modal__header-title">NEW PURCHASE REQUEST </h5>
        </div>

        <div class="modal__alert">
            <Alert Message="@AlertMessage" Type="AlertType.error" ShowCloseButton="false" @bind-IsVisible="IsShowAlert" />
        </div>

        <PurchaseReq__Form Model="RequestModel" OnValidSubmit="HandleSave" OnCloseModal="CloseModal" IsDisabledBtns="_isDisabledBtns" />
    </div>
</div>